.container_info {
    width: 100%;
    height: 100%;
}

.contactez_moi {
    display: flex;
    /* background-color: brown; */
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 40%;
    margin: auto;
    font-size: 28px;
    margin-top: 2%;
}
h1{
    color:var(--icontxt_color)
}

.txt_info {
    /* background-color: aquamarine; */
    text-align: center;
    line-height: 40px;
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 28px;
    margin: 15% auto;
}

.icon_contact {
    width: 100%;
    height: 90%;
    margin-top: 5%;
    /* margin-left: 11%; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: rgb(227, 203, 51); */
}

.mail_contact {
    /* background-color: aquamarine; */
    align-items: center;
    font-size: 28px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: var(--icontxt_color);
}

.mail_icon {
    margin: auto 40%;
    width: 70px;
    height: 70px;
}

.phone_contact {
    /* background-color: aquamarine; */
    align-items: center;
    font-size: 28px;
}

.phone_contact p:hover {
    color: var(--icontxt_color);
}

.phone_icon {
    margin-left: 27%;
    width: 70px;
    height: 70px;
}

.container_contact_carte {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
}

.form_contact {
    width: 450px;
    height: auto;
    background-color: rgb(230, 189, 223);
    margin-left: 126px;
    margin-top: 10%;
    display: flex;
}
.formulaire{
}
.div_left{
    background-color: red;
}
.div_left,.input_div_left,.label_div_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.div_right,.input_div_right,.label_div_right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* flex-direction: row; */
}
.div_right{
     background-color: blueviolet;

}

legend{
    font-family: var(--Montserrat_700_font);
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color:var(--icontxt_color);
    margin-bottom: 5%;
}
.txt_message{
    margin-top:10%;
}

.container_carte {
    background-color: rgb(187, 255, 127);
    margin: 10%;
}

.carte_google {
    /* justify-content: space-between;
    align-items: center; */
}