.container_home {
    width: 100%;
    height: 100%;
}

.container_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-right: 15px;
}

.img {
    width: 94vw;
    height: 100%;
    margin-left: 38px;
    margin-top: 45px;
    border-radius: 7px;
    object-fit: cover;
    -webkit-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.71);
    box-shadow: 1px 3px 6px 2px rgba(0, 0, 0, 0.80);
}

.desc {
    font-family: var(--Montserrat_700_font);
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    margin-top: 20vh;
}

.trait_dessous {
    border-top: 2px solid var(--icontxt_color);
    width: 500px;
    /*margin: 50px 50px; */
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.71);
    box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.71);
}

.text_desc {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color:green; */
}

.text_Home {
    align-items: center;
    align-content: center;
    font-family: var(--Montserrat_700_font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    padding-top: 8px;
    width: 600px;
    height: 100%;
    margin: 2vh 2vw;
}

.btn {
    display: inline;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #A1D1E7;
    border-radius: 30px;
    width: 211px;
    height: 44px;
    top: 745px;
    font-size: 18px;
    font-family: var(--Montserrat_400_font);
    margin: 6vh 34% 20% 603px;
    margin-left: center;
    -webkit-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.71);
    box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.71);
}

.trait_footer {
    border-top: 2px solid var(--icontxt_color);
    width: 450px;
    margin-top: -30vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.71);
    box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.71);
}

.second_picture {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

.second_img {
    object-fit: cover;
    /* width: 1354px;
    height: 417px; */
    width: 90vw;
    height: 371px;
    margin: 50px 61px;
    /* margin-left: 32px;
    margin-top: 45px; */
    margin-bottom: 90px;
    border-radius: 7px;
    -webkit-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.71);
    box-shadow: 1px 3px 6px 2px rgba(0, 0, 0, 0.80);
}

.secondpicture_text {
    position: absolute;
    margin-top: 300px;
    width: 100%;
}

.text {
    color: white;
    font-size: 30px;
    font-family: var(--Montserrat_700_font);
    text-align: center;
    text-justify: center;
    line-height: 4.5rem;
    margin: -195px 10%;
    width: auto;
}

.rose span {
    color: var(--icontxt_color);
}

.btn_contact {
    background: #A1D1E7;
    border-radius: 30px;
    width: 211px;
    height: 44px;
    font-size: 18px;
    font-family: var(--Montserrat_400_font);
    margin-top: 130%;
    margin: -166px 0 125px 603px;
    -webkit-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.71);
    box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.71);

}

/* #btn_contact_home:hover{
    color:black;
} */
/* .btn_contact:hover{
    transform: translate(-6px, -6px);
} */

/* @media screen and (max-width: 766px) {
    .img {
        object-fit: cover;
        width: auto;
        height: 200px;
        border-radius: 9px;
        box-shadow: 1px 3px 6px 2px rgba(0, 0, 0, 0.80);
    }

    .second_picture {
        display: none;
    }

    .btn {
        margin: 5% 50%;
    }
} */

@media screen and (max-width:767px) {
    .img {
        margin-left: 23px;
        border-radius: 9px;
        -webkit-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.71);
        box-shadow: 1px 3px 6px 2px rgba(0, 0, 0, 0.80);
    }

    .desc {
        Display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: var(--Montserrat_700_font);
        font-style: normal;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        /* margin-left: 156px; */
    }

    .title {
        text-align: center;
        margin-left: 4px;
    }

    .trait_dessous {
        border-top: 2px solid var(--icontxt_color);
        width: 500px;
        box-shadow: 1px 2px 8px 1px rgb(0 0 0 / 71%);
        margin: 50px 0px 0px 0px;
    }

    .text_desc {
        margin: 50px 30px 0px 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        height: 100%;
    }

    .btn {
        margin: 48px 0px -4px 240px;
    }

    .trait_footer {
        border-top: 2px solid var(--icontxt_color);
        width: 350px;
        margin-top: 20vh;
        box-shadow: 1px 2px 8px 1px rgb(0 0 0 / 71%);
    }

    .second_picture {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: -310px;
    }

    .second_img {
        object-fit: cover;
        width: 640PX;
        height: 200px;
        margin-left: 50px;
        margin-top: 345px;
        border-radius: 7px;
        box-shadow: 1px 3px 6px 2px rgb(0 0 0 / 80%);
    }


    .secondpicture_text {
        position: absolute;
        margin-top: 460px;
        width: 79%;
        margin-right: 77px;
    }

    .text {
        color: white;
        font-size: 18px;
        font-family: var(--Montserrat_700_font);
        text-align: center;
        line-height: 3rem;
        margin: -103px 74px;
        width: 90%;
    }

    .btn_contact {
        display: inline;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        background: #A1D1E7;
        border-radius: 30px;
        width: 211px;
        height: 44px;
        margin: -48px 0px -1px;
        margin-left: center;
        box-shadow: 2px 4px 7px 2px rgb(0 0 0 / 71%);
    }


}

@media screen and (max-width:1024px) {


    .img {
        margin-left: 23px;
        border-radius: 9px;
        -webkit-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.71);
        box-shadow: 1px 3px 6px 2px rgba(0, 0, 0, 0.80);
    }

    .desc {
        Display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: var(--Montserrat_700_font);
        font-style: normal;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        /* margin-left: 156px; */
    }

    .title {
        text-align: center;
        margin-left: 4px;
    }

}