.container_maMission {
    width: 100%;
    height: 100%;
    display:flex;
}

.mamission_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.titlte_mission {
    font-family: var(--Montserrat_700_font);
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 40px;
    margin-top: 5px;
    margin-bottom: 45px;
    text-align: center;
}

.trait_dessous {
    border-top: 2px solid var(--icontxt_color);
    width: 500px;
    margin: 50px 50px;
    /* margin-top: 20px;
    margin-left: auto;
    margin-right: auto; */
    -webkit-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.71);
    box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.71);
}

.mission {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: inline;

}

.mission_text_1 {
    margin: 20px 50px;

}

.mission_text_2 {
    margin: 20px 50px;

}

.textMission {
    font-size: 18px;
    font-weight: bold;
    font-family: var(--Montserrat_700_font);
    line-height: 32px;
    text-align: center;
}

.image {
    width: 90%;
    height: 100%;
    border-radius: 7px;
    margin: 50px 50px;
    margin-top: 103px;
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 90px;
}

.texte_centrer {
    position: absolute;
    top: 63%;
    left: 50%;
    font-size: 34px;
    transform: translate(-50%, -50%);
    font-family: var(--Montserrat_700_font);
    font-weight: bold;
    line-height: 73px;
}

.signature {
    position: absolute;
    top: 105%;
    left: 75%;
    font-size: 34px;
    transform: translate(-80%, -80%);
    font-family: var(--Montserrat_700_font);
    font-weight: bold;
    line-height: 36px;
}
.btn_double{
    width: 80%;
    height:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:5px;
    margin-bottom: 100px;
    margin: 50px 50px;
}
.btn_process,.btn_message{
    background-color: var(--btn_color);
    border-radius: 30px;
    font-size:18px;
	font-family: var(--Montserrat_400_font);
     width: 211px;
    height: 44px;
    margin: 10px 10px;
}