@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main_color: #2C9199;
  --second_color: #FFBD36;
  --third_color: #C8C9C7;
  --fourth_color: #58C9D4;
  --fifth_color: #B1E4E3;
  --sixth_color: #BDE9C9;
  --white_color: #FFFFFF;
  --grey_color: #B7B4B3 ;
  --black_color: #000000;

  --main-font: "Roboto";
  --second-font: "Comic Neue";
  --third-font: "PT Sans";
}

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');